[package]
name = "trace-lite"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
tokio = { version = "1", features = ["macros", "process", "rt-multi-thread", "signal", "time"] }

